.useStateHook button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    padding: .4rem .78rem;
    cursor: pointer;
    border-radius: 5px;
}

.useStateHook span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin: 1rem;
}

li {
    margin: 1rem;
    text-align: left;
    font-size: 1.2rem;
}

input {
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0.5rem;
}