.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(250, 247, 247);
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navBar .navbarNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar li {
    list-style: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.navBar .navbarBrand {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(6, 6, 6);
    text-decoration: none;
}

.navBar .navbarNav .navLinks {
    color: rgb(1, 1, 1);
    text-decoration: none;
    cursor: pointer;
}