.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.navBar .navbarNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar li {
    list-style: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.navBar .navbarBrand {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(6, 6, 6);
    text-decoration: none;
}

.navBar .navbarNav .navLinks {
    color: #282a30;
    text-decoration: none;
    cursor: pointer;
}

.navBar .navbarNav .navLinks:hover {
    color: #ff6b6b;
}