* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dec9b4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


/* .todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 40rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
    color: blue;
}

#todoInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    border: 1px solid #000;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: #ccc;
    cursor: pointer;
}

#todoList {
    list-style: none;
    width: 100%;
    margin: 1rem 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    background-color: #e8fb02;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

.task_edit,
.task_delete {
    padding: .4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    cursor: pointer;
}

button:first-child {
    background-color: #00ff00;
}

button:last-child {
    background-color: #ff6a6a;
}